body {
    background-color: #ff9800c4;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}




#footer {
    background-color: #574240;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.gufoBiancoSfondoNero {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

#form-container {
    background-color: #856866;
}


  #scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }
  .social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }

  .social-icons a {
    color: #fff;
    font-size: 18px;
  }


  .info-container {
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    background-color: #f8f9fa;
    top: -44px;
    position: relative;

  }

  #toggleBtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 0px 4px 4px 4px;
    cursor: pointer;
    top: -1px;
    position: relative;
    width: 200px;
    z-index: 1;
    /* left: 90%; */
    width: 150px;
  }