body {
    background-color: #ff9800c4;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.prova {
    height: 600px;
    width: 400px;
    background: url(prova.jpg);
    background-size: cover;
}



#footer {
    background-color: #574240;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.gufoBiancoSfondoNero {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

#form-container {
    background-color: #856866;
}


  #scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }